services:
  database:
    image: postgres:16
    env_file:
      - .env.docker
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_USER:${POSTGRES_USER}
      - POSTGRES_PASSWORD:${POSTGRES_PASSWORD}
      - POSTGRES_DB:${POSTGRES_DB}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U geo -d mydb" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - network
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: ./src
      dockerfile: Dockerfile
    env_file:
      - .env.docker
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: "true"
      CHOKIDAR_INTERVAL: "500"
      NEXT_TELEMETRY_DISABLED: "1"
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app
      - /app/node_modules
    networks:
      - network
    depends_on:
      - database

networks:
  network:
    driver: bridge

volumes:
  postgres_data:
