services:
  database:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: geo
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: mydb
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U geo -d mydb" ]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      BACKEND_URL: http://localhost:8000
    ports:
      - "3000:3000"
    volumes:
      - ./frontend/:/app
      - /app/node_modules
    networks:
      - network
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql://geo:password123@database:5432/mydb
    ports:
      - "8000:8000"
    volumes:
      - ./backend/:/app
      - /app/node_modules
    networks:
      - network
    depends_on:
      database:
        condition: service_healthy

networks:
  network:
    driver: bridge

volumes:
  postgres_data:


