#oAuth {
    border-top: 1px solid gray;
    position: relative;
}

#oAuth::before {
    content: "Or Authorize With";
    position: absolute;
    background-color: #1E201E;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 1.5rem ;
    top:-1rem;
    font-size: 0.875rem;  
}

#Login Button,
#oAuth Button {
    transition: 0.2s transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(0);
}

#Login Button:hover,
#oAuth Button:hover {
    transform: translateY(2px);
}

#Login Link:hover {
    opacity: 0;
}