

#Close-Btn,
.UniBtn,
#oAuth Button {
    cursor: pointer;
    transition: 0.2s transform cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(0);
}

.UniBtn:hover,
#Close-Btn:hover,
#oAuth Button:hover {
    transform: translateY(2px);
}   


#sidebarL {
    border-radius: 12px 0 0 12px;
}